<%= render 'users/navbar',  name: @post.user.name%>
<div class="bg-white flex flex-col min-h-[200px]" data-controller="comment">
  <div class="flex px-2.5 py-1.5">
    <%= link_to user_path(@post.user) do %>
      <%= render partial: 'shared/show_avatar', :locals => { :user => @post.user, :show_name => "false" }%>
    <% end %>
    <div class="flex flex-col px-2.5">
      <p class="text-sm"><%= @post.user.name%></p>
      <p class="text-xs"><%= Post.timestamp(@post.id).map {|key, value| "#{value} #{key}" if value > 0 }.join(' ') %></p>
    </div>
  </div>
  <p class="text-xs px-2.5 min-h-[100px] py-2.5"><%= @post.body %></p>
  <%# Likes/Reactions count %>
  <%= render 'shared/reactions_count', post: @post%>
  <%# Likes/Reactions %>
  <div class="flex gap-[50px] flex-col text-sm self-center flex-1 pt-[20px] pb-[10px] text-sm justify-end w-full px-[20px]">
    <div class="flex border-t-2 gap-[50px] justify-center pt-2">
      <%= render 'shared/like_post', post: @post %>
      <div data-action="click->comment#focus">
        <p class="cursor-pointer">Comentar</p>
      </div>
    </div>
  </div>
  <%# Write a comment %>
  <div class="flex px-2.5 py-1.5" id="new_post" data-comment-target="inputField">
    <%= render partial: 'shared/show_avatar', :locals => { :user => current_user, :show_name => "false" }%>
    <div class="flex-1">
      <%= render 'shared/create_comment', comment: @comment, post_id: @post.id%>
    </div>
  </div>
  <%# Show comments %>
  <%# <%= render 'comments/show_comments', comments: @comments%> 
</div>
