<%= render 'shared/navbar'%>
<% @friends.each do |friend|  %>
  <% if friend.user_id != current_user.id %>
    <% recipient = friend.user_id %>
  <% else %>
    <% recipient = friend.friend_id %>
  <% end %>

  <%# Checa se conversa existe %>
  <% if Conversation.conversation_exist?(recipient,current_user.id)%>
    <%# Abre conversa existente %>
    <% conversation_id = Conversation.find_conversation(recipient,current_user.id).first.id %>

    <%= button_to conversation_path(conversation_id), method: :get, html: { data: { turbo: false} } do %>
      <div class="flex px-2.5 pt-2 gap-2.5 items-center">
        <%= render partial: 'shared/show_avatar', :locals => { :user => User.find(recipient), :show_name => "true" }%>
      </div>
    <% end %>
  <% else %>
    <%# Cria conversa %>
    <%= button_to conversations_path, html: { data: { turbo: false}, method: :post}, params: {sender_id: current_user.id, recipient_id: recipient} do %>
      <div class="flex px-2.5 pt-2 gap-2.5 items-center">
        <%= render partial: 'shared/show_avatar', :locals => { :user => User.find(recipient), :show_name => "true" }%>
      </div>
    <% end %>
  <% end %>
<% end %>
