  <% posts.each do |post| %>
  <div class="bg-white flex flex-col min-h-[200px]">
    <div class="flex px-2.5 py-1.5">
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.avatar.url, class: "rounded-full h-[40px] w-[40px]"%>
      <% end %>
      <div class="flex flex-col px-2.5">
        <p class="text-sm"><%= post.user.name%></p>
        <p class="text-xs"><%= Post.timestamp(post.id).map {|key, value| "#{value} #{key}" if value > 0 }.join(' ') %></p>
      </div>
    </div>
    <p class="text-xs px-2.5 py-1"><%= post.body %></p>
    <div class="flex gap-[50px] flex-col text-sm self-center flex-1 py-2 text-sm justify-end w-full px-[20px]">
      <div class="flex border-t-2 gap-[50px] justify-center items-center h-[30px]">
    
        <% if !Like.where(post_id: post.id, user_id: current_user.id).exists? %>
          <%= button_to likes_path, html: { data: { turbo: false}, method: :post}, params: {user_id: current_user.id, post_id: post.id}, class: "flex items-center content-center" do%>
            <p class="text-xs flex items-center content-center gap-1.5"><span class="material-symbols-outlined text-[18px]">thumb_up</span>Curtir</p>
          <% end %>
        <%else %>
            <% like = Like.where(post_id: post.id, user_id: current_user.id).first %>
            <%= button_to like_path(like.id), method: :delete, class: "flex items-center content-center" do%>
            <p class="text-xs flex items-center content-center gap-1.5 text-sky-700 font-bold"><span class="material-symbols-outlined text-[18px]">thumb_up</span>Descurtir</p>
          <% end %>
        <%end%>
        <%= button_to new_comment_path, method: :get, params: {id: post.id}, class: "flex items-center content-center" do %>
          <p class="text-xs flex items-center gap-1.5"><span class="material-symbols-outlined text-[18px]">mode_comment</span>Comentar</p>
        <% end %>
      </div>
    </div>
  </div>
<% end%>
