<h2 class="text-center text-blue-700 py-2">petbook</h2>
<div class="flex flex-col px-1.5 py-2 text-sm">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false}}) do |f| %>
    <%= f.error_notification %>
    <div class="flex flex-col py-1 gap-0.5">
      <%= f.email_field :email, autocomplete: "email", class: "bg-slate-300 text-xs rounded py-1.5", placeholder: "Email" %>
    </div>
    <div class="flex flex-col py-1 gap-0.5">
      <%= f.password_field :password, autocomplete: "current-password", class: "bg-slate-300 text-xs rounded py-1.5", placeholder: "Senha"%>
    </div>
    <div class="actions flex justify-center bg-blue-700 rounded my-1.5">
      <%= f.submit "Entrar" , class: "text-white rounded-md py-1 cursor-pointer grow" %>
    </div>
  <% end %>
  <div class="actions flex justify-center bg-blue-700 rounded my-1.5">
   <span class = "flex gap-2 items-center"><%= image_tag 'facebook.png', class:"bg-white text-white h-[20px] w-[20px]"%><%= button_to "Entrar com Facebook", user_facebook_omniauth_authorize_path, method: :post,  :data => {turbo: "false"}, class: "text-white rounded-md py-1 cursor-pointer grow" %></span>
  </div>
</div>
<div class="flex gap-1 text-sm flex justify-center">
  <%= link_to "Esqueceu a senha?", new_password_path(resource_name), class: "text-sm text-blue-500" %><br />
</div>
<div>
  <p class="w-full text-center border-b-2 border-solid leading-[0] mt-4 mb-5 text-sm"><span class="px-2.5 bg-white">ou</span></p>
</div>
<div class="flex gap-1 text-sm justify-center">
  <%= link_to "Criar nova conta", new_registration_path(resource_name), class: "text-white text-sm bg-green-500 rounded-md px-4 py-1.5 cursor-pointer" %><br />
</div>
<p class="mt-10 mb-5 text-xs text-center">Criado por <span class="text-blue-500">Gustavo Takahashi</span></p>
<%= link_to "https://github.com/gukenji", target: "_blank", class: "w-[5%] block my-0 mx-auto" do %>
  <%= image_tag("github.png", alt: "github link") %>
<% end%>
